@charset "UTF-8";

.bg{
    width: 100%;
    height: 520px;
}
.bg h2{
    color: white;
    text-align: center;
}
.quote{
    padding-top: 50px;
    padding-left: 200px;
}
.bgbottom{
 
 
   background-color: yellow;
   width: 100%;
   height: 205px;
   display: flex;
}
.bgbottom h2{
   
    padding-left: 100px;
}
.quote2{
    padding-top: 50px;
   font-style: italic;
}

.desc{
   padding-left: 350px;
   font-style: italic;
   padding-top: 50px;
}
#bgimgg{
   width: 100%;
   padding-top: 50px;
   height: 150px;
   padding-left: 200px;
}
.headd{
    display: flex;
}
.getstarted button{
    font-size: 25px;
    color: white;
    border: 2px solid white;
    border: 2px solid white;
    margin: 10px;
   

}
.outer{
    border: 2px solid white;
    border-radius: 10px;
}
.getstarted{
    float: right;
    padding-right: 300px;
  
   
   
}
.header img{
    padding-top: 20px;
    width: 220px;
    height: 120px;
}


